{{ partial "header" . }}
{{ partial "jumbotron" . }}

<div id="services" class="pad-section color-secondary">
	<div class="container">
	  <h2 class="text-center">Services</h2> <hr />
			<div class="row single-services">
				<div class="col-xs-none col-sm-2">					
				</div> <!-- Left Padding-->
				<div class="col-xs-4 col-sm-2">
					<a href="software">
						<i class="fas fa-code fa-5x"> </i>
						<h4>Software</h4>
					</a>
				</div>			
				<div class="col-xs-6 col-sm-8 my-auto">
					Web and Enterprise software engineering
				</div>
			</div>

			<div class="row single-services">
				<div class="col-xs-none col-sm-2">					
				</div> <!-- Left Padding-->
				<div class="col-xs-4 col-sm-2">
					<a href="mechanical">
						<i class="fas fa-cog fa-5x"> </i>
						<h4>Mechanical</h4>
					</a>
				</div>			
				<div class="col-xs-6 col-sm-8 my-auto">
					<p>Mechanical design, drafting, and prototyping</p>				
				</div>
			</div>

			<div class="row single-services">
				<div class="col-xs-none col-sm-2">					
				</div> <!-- Left Padding-->
				<div class="col-xs-4 col-sm-2">
					<a href="robotics">
						<i class="fas fa-industry fa-5x"> </i>
						<h4>Automation/Robotics</h4>
					</a>
				</div>			
				<div class="col-xs-6 col-sm-8 my-auto">
					<p>Industrial automation and mobile robotics</p>				
				</div>
			</div>

			<div class="row single-services">
				<div class="col-xs-none col-sm-2">					
				</div> <!-- Left Padding-->
				<div class="col-xs-4 col-sm-2">
					<a href="management">
						<i class="fas fa-project-diagram fa-5x"> </i>
						<h4>Management</h4>
					</a>
				</div>			
				<div class="col-xs-6 col-sm-8 my-auto">
					<p>Project and Team management</p>				
				</div>
			</div>

	  	</div>
	</div>
</div>

</div> <!--end of previous partial , so footer fills width--> 
{{ partial "footer" }}