
      <!--Footer-->
      <footer class="page-footer font-small pt-4 mt-4 top-buffer color-primary"> <!-- stylish-color-dark-->
          <hr class="w-100 clearfix d-md-none">
      
          <!--Footer Links-->
          <div class="container text-md-left">
      
              <!-- Footer links -->
              <div class="row text-md-left mt-3 pb-3">
      
                  <!--First column-->
                  <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4 text-center">
                      <h6 class="text-uppercase mb-4 font-weight-bold">Michael Kohlmann</h6>
					  <ul style="list-style-type:none; padding-left: 0;">
						<li class="list-inline-item">Engineer</li>
						<li class="list-inline-item">Developer</li>
						<li class="list-inline-item">Problem Solver</li>
					  </ul>
                  </div>
                  <!--/.First column-->
      
      
                  <!--Second column-->
                  <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4 text-center">
                      <h6 class="text-uppercase mb-4 font-weight-bold"><a href="/services">Services</a></h6>
                      <h6 class="text-uppercase mb-4 font-weight-bold"><a href="/blog">Blog</a></h6>                      
                      <h6 class="text-uppercase mb-4 font-weight-bold"><a href="/about">About</a></h6>
                  </div>
                  <!--/.Second column-->
      
                  <!--Third column-->
                  <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4 text-center">
                      <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
					  <ul style="list-style-type:none; padding-left: 0;">
						<li class="list-inline-item"><i class="fa fa-home mr-3"></i> Milwaukee, WI, USA</li>
						<li class="list-inline-item"><a href="https://www.linkedin.com/in/michael-kohlmann-1141305/"><i class="fab fa-linkedin-in mr-3"></i> LinkedIn</a></li>
					  </ul>
                  </div>
                  <!--/.Third column-->
      
              </div>
              <!-- Footer links -->
      
              <hr>
      
              <div class="row py-3 d-flex align-items-center">
      
                  <!--Grid column-->
                  <div class="col-md-12 col-lg-12">
      
                      <!--Copyright-->					  
                      <p class="text-center text-md-left grey-text">Content and Layout by <strong>Michael Kohlmann</strong></p>
					  <p class="text-center text-md-left grey-text">Theme by <a href="https://mdbootstrap.com/material-design-for-bootstrap/"><strong> MDBootstrap.com</strong></a> © 2018 Copyright</p>
                      <p class="text-center text-md-left grey-text">Icons by <a href="https://fontawesome.com/"><strong> FontAwesome.com</strong></a> © 2018 Copyright</p>
                      <!--/.Copyright-->
      
                  </div>
                  <!--Grid column-->
              </div>
      
          </div>
      
      </footer>
      <!--/.Footer-->
</body>
</html>