<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index.html">{{ $.Site.Params.Brand }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	
      <ul class="nav navbar-nav">
	  {{ if eq .Type "service" }}<li class="active"><a href="/service">Services<span class="sr-only">(current)</span></a></li>{{else}}<li><a href="/service">Services</a></li>{{ end }}	  
	  {{ if eq .Type "blog" }}<li class="active"><a href="/blog">Blog<span class="sr-only">(current)</span></a></li>{{else}}<li><a href="/blog">Blog</a></li>{{ end }}	  
	  {{ if eq .Type "about" }}<li class="active"><a href="/about">About<span class="sr-only">(current)</span></a></li>{{else}}<li><a href="/about">About</a></li>{{ end }}
    {{ if eq .Type "contact" }}<li class="active"><a href="/contact">Contact<span class="sr-only">(current)</span></a></li>{{else}}<li><a href="/contact">Contact</a></li>{{ end }}
      </ul>
	  
	  {{ if eq .Type "blog" }}
	  <script>
		function doSomething() {
			alert('Sorry, still working out an efficient way to search static files -- will get back to this in time.');
			return false;
		}
	  </script>
      <ul class="nav navbar-nav navbar-right">
		  <form class="navbar-form navbar-right" onsubmit="return doSomething();">
			<div class="form-group">
			  <input type="text" class="form-control" placeholder="Search Blog">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		  </form>
      </ul>
	  {{ end }}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>